@using Microsoft.Extensions.Options
@using YerbaMateStore.Models.Utilities
@inject IOptions<YerbaMateStore.Models.Utilities.StripeSettings> Stripe
@model YerbaMateStore.Models.ViewModels.OrderViewModel
@{
  ViewData["Title"] = "Order Details";
  bool isAdminOrEmployee = false;
  if (User.IsInRole(StaticDetails.Role_Admin) || User.IsInRole(StaticDetails.Role_Employee))
  {
    isAdminOrEmployee = true;
  }
  string plaintext = isAdminOrEmployee ? "form-control" : "form-control-plaintext";
  string userClaimsValue = UserClaims.GetUserClaimsValue(User);
  bool isUserOrder = Model.OrderHeader.ApplicationUserId == userClaimsValue ? true : false;
}

<section class="d-flex justify-content-center bg-light">
  <div class="container-lg pb-5 p-3">
    <div class="row justify-content-center">
      <div class="col-12">

        <form method="post">
          <div class="card">

            <div class="card-header bg-dark text-light">
              <div class="row">
                <div class="col-6  pt-2">
                  <i class="bi bi-basket2-fill "></i> &nbsp;
                  @ViewData["Title"]
                </div>
                <div class="col-6 text-end">
                  <a class="btn btn-outline-info btn-sm" asp-area="Admin" asp-controller="Order" asp-action="Index">Back
                    to orders</a>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="container rounded">
                <div class="row">

                  <div class="col-12 col-lg-6 order-1 order-md-0">

                    <div class="row">
                      <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-dark">Shipping Details:</span>
                      </h4>
                    </div>

                    <input asp-for="OrderHeader.Id" hidden readonly>
                    <input asp-for="@Model.OrderHeader.ApplicationUserId" hidden readonly />

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.Name" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.Name" class="rounded-0 @plaintext"
                          readonly="@(!isAdminOrEmployee)">
                        <span asp-validation-for="@Model.OrderHeader.Name" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.ApplicationUser.Email" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.ApplicationUser.Email" class="rounded-0 @plaintext" readonly>
                        <span asp-validation-for="@Model.OrderHeader.ApplicationUser.Email" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.PhoneNumber" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.PhoneNumber" class="rounded-0 @plaintext"
                          readonly="@(!isAdminOrEmployee)">
                        <span asp-validation-for="@Model.OrderHeader.PhoneNumber" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.Country" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.Country" class="rounded-0 @plaintext"
                          readonly="@(!isAdminOrEmployee)">
                        <span asp-validation-for="@Model.OrderHeader.Country" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.City" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.City" class="rounded-0 @plaintext"
                          readonly="@(!isAdminOrEmployee)">
                        <span asp-validation-for="@Model.OrderHeader.City" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.State" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.State" class="rounded-0 @plaintext"
                          readonly="@(!isAdminOrEmployee)">
                        <span asp-validation-for="@Model.OrderHeader.State" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.StreetAddress" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.StreetAddress" class="rounded-0 @plaintext"
                          readonly="@(!isAdminOrEmployee)">
                        <span asp-validation-for="@Model.OrderHeader.StreetAddress" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.PostalCode" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.PostalCode" class="rounded-0 @plaintext"
                          readonly="@(!isAdminOrEmployee)">
                        <span asp-validation-for="@Model.OrderHeader.PostalCode" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.OrderDate" class="col-sm-3 col-form-label">Order Date</label>
                      <div class="col-sm-9">
                        <input value='@Model.OrderHeader.OrderDate.ToString("dd.MM.yyyy HH:mm")'
                          class="rounded-0 @plaintext" readonly>
                        <input value='@Model.OrderHeader.OrderDate.ToString("dd.MM.yyyy HH:mm")'
                          class="rounded-0 @plaintext" readonly>
                        <span asp-validation-for="@Model.OrderHeader.OrderDate" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.Carrier" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.Carrier" id="carrier" class="rounded-0 @plaintext"
                          readonly="@(!isAdminOrEmployee)">
                        <span asp-validation-for="@Model.OrderHeader.Carrier" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.TrackingNumber"
                        class="col-sm-3 col-form-label">Tracking</label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.TrackingNumber" id="trackingNumber"
                          class="rounded-0 @plaintext" readonly="@(!isAdminOrEmployee)">
                        <span asp-validation-for="@Model.OrderHeader.TrackingNumber" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.DeliveryMethod.DeliveryTime"
                        class="col-sm-3 col-form-label">Delivery Time</label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.DeliveryMethod.DeliveryTime" class="rounded-0 @plaintext"
                          readonly>
                        <span asp-validation-for="@Model.OrderHeader.DeliveryMethod.DeliveryTime"
                          class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.ShippingDate" class="col-sm-3 col-form-label">Shipping
                        Date</label>
                      <div class="col-sm-9">
                        <input value='@Model.OrderHeader.ShippingDate.ToString("dd.MM.yyyy HH:mm")'
                          class="rounded-0 @plaintext" readonly>
                        <span asp-validation-for="@Model.OrderHeader.ShippingDate" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.PaymentStatus" class="col-sm-3 col-form-label">Payment
                        Status</label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.PaymentStatus" class="rounded-0 @plaintext"
                          readonly="@(!isAdminOrEmployee)">
                        <span asp-validation-for="@Model.OrderHeader.PaymentStatus" class="text-danger"></span>
                      </div>
                    </div>
                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.PaymentType" class="col-sm-3 col-form-label">Payment
                        Type</label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.PaymentType" class="rounded-0 @plaintext"
                          readonly="@(!isAdminOrEmployee)">
                        <span asp-validation-for="@Model.OrderHeader.PaymentType" class="text-danger"></span>
                      </div>
                    </div>
                    @if (Model.OrderHeader.PaymentType == StaticDetails.PaymentTypeTransfer)
                    {
                      if (isAdminOrEmployee)
                      {
                        <div class="mb-2 row justify-content-center">
                          <label asp-for="@Model.OrderHeader.SessionId" class="col-sm-3 col-form-label">Session
                            ID</label>
                          <div class="col-sm-9">
                            <input asp-for="@Model.OrderHeader.SessionId" class="rounded-0 @plaintext" readonly>
                            <span asp-validation-for="@Model.OrderHeader.SessionId" class="text-danger"></span>
                          </div>
                        </div>
                        <div class="mb-2 row justify-content-center">
                          <label asp-for="@Model.OrderHeader.PaymentIntentId" class="col-sm-3 col-form-label">Transaction
                            ID</label>
                          <div class="col-sm-9">
                            <input asp-for="@Model.OrderHeader.PaymentIntentId" class="rounded-0 @plaintext" readonly>
                            <span asp-validation-for="@Model.OrderHeader.PaymentIntentId" class="text-danger"></span>
                          </div>
                        </div>
                      }
                      <div class="mb-2 row justify-content-center">
                        <label asp-for="@Model.OrderHeader.PaymentDate" class="col-sm-3 col-form-label">Payment
                          Date</label>
                        <div class="col-sm-9">
                          <input value='@Model.OrderHeader.PaymentDate.ToString("dd.MM.yyyy HH:mm")'
                            class="rounded-0 @plaintext" readonly>
                          <span asp-validation-for="@Model.OrderHeader.PaymentDate" class="text-danger"></span>
                        </div>
                      </div>
                    }
                    @if (isAdminOrEmployee)
                    {
                      <button type="submit" asp-area="Admin" asp-controller="Order" asp-action="UpdateOrderDetail"
                        formmethod="post" class="btn btn-warning form-control my-1">Update Order
                        Details</button>
                    }
                  </div>

                  <div class="col-12 col-lg-6">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                      <span class="text-dark">Order Summary:</span>
                      <span class="text-dark">ID: @Model.OrderHeader.Id</span>
                    </h4>
                    <label class="bg-primary form-control my-2 text-light text-uppercase text-center fw-bold">Order
                      Status -
                      @Model.OrderHeader.OrderStatus</label>
                    <ul class="list-group mb-3">
                      @foreach (var cart in Model.YerbaMateOrderDetailList)
                      {
                        <li class="list-group-item d-flex justify-content-between">
                          <div>
                            <a asp-area="Customer" asp-controller="YerbaMate" asp-action="Details"
                              asp-route-productId="@cart.ProductId" class="my-0 h6 text-dark fw-bolder">
                              @cart.Product.Brand @cart.Product.Name @cart.Product.Weight</a>
                            <br>
                            <small class="text-muted  fw-bolder">Quantity: @cart.Quantity</small>
                          </div>
                          <span class="text-muted fw-bolder">@((cart.Quantity *
                          cart.Price).ToString("C", StaticDetails.Culture))</span>
                        </li>
                      }
                      @foreach (var cart in Model.BombillaOrderDetailList)
                      {
                        <li class="list-group-item d-flex justify-content-between">
                          <div>
                            <a asp-area="Customer" asp-controller="Bombilla" asp-action="Details"
                              asp-route-productId="@cart.ProductId" class="my-0 h6 text-dark fw-bolder">
                              @cart.Product.Name @cart.Product.Length</a>
                            <br>
                            <small class="text-muted fw-bolder">Quantity: @cart.Quantity</small>
                          </div>
                          <span class="text-muted fw-bolder">@((cart.Quantity *
                          cart.Price).ToString("C", StaticDetails.Culture))</span>
                        </li>
                      }
                      @foreach (var cart in Model.CupOrderDetailList)
                      {
                        <li class="list-group-item d-flex justify-content-between">
                          <div>
                            <a asp-area="Customer" asp-controller="Cup" asp-action="Details"
                              asp-route-productId="@cart.ProductId" class="my-0 h6 text-dark fw-bolder">
                              @cart.Product.Name @cart.Product.Volume</a>
                            <br>
                            <small class="text-muted fw-bolder">Quantity: @cart.Quantity</small>
                          </div>
                          <span class="text-muted fw-bolder">@((cart.Quantity *
                          cart.Price).ToString("C", StaticDetails.Culture))</span>
                        </li>
                      }
                      <li class="list-group-item d-flex justify-content-between bg-light">
                        <small class="text-dark fw-bold">Order Total (@StaticDetails.Currency)</small>
                        <strong
                          class="text-dark fw-bold">@Model.OrderHeader.OrderTotal.ToString("C",StaticDetails.Culture)</strong>
                      </li>
                      <li class="list-group-item d-flex justify-content-between bg-light">
                        <small class="text-dark fw-bold">Delivery Cost (@StaticDetails.Currency)</small>
                        <strong
                          class="text-dark fw-bold">@Model.OrderHeader.DeliveryMethod.Cost.ToString("C",StaticDetails.Culture)</strong>
                      </li>
                      <li class="list-group-item d-flex justify-content-between bg-dark rounded-bottom ">
                        <small class="text-light fw-bold">Order + Delivery (@StaticDetails.Currency)</small>
                        <strong class="text-light fw-bold"
                          id="OrderDeliveryTotal">@Model.OrderHeader.OrderAndDeliveryTotal.ToString("C",StaticDetails.Culture)<strong>
                      </li>
                      <input type="number" asp-for="@Model.OrderHeader.OrderTotal" hidden>
                      <input type="number" asp-for="@Model.OrderHeader.OrderAndDeliveryTotal"
                        id="OrderDeliveryTotalInput" hidden>
                    </ul>
                    @if (isAdminOrEmployee)
                    {
                      @if (Model.OrderHeader.OrderStatus == StaticDetails.StatusApproved &&
                     (Model.OrderHeader.PaymentStatus == StaticDetails.PaymentStatusApproved ||
                     Model.OrderHeader.PaymentStatus == StaticDetails.PaymentStatusOnPickup))
                      {
                        <button type="submit" asp-controller="Order" asp-action="StartProcessing"
                          class="btn btn-primary form-control my-1">Start Processing</button>
                      }
                      @if (Model.OrderHeader.OrderStatus == StaticDetails.StatusInProcess)
                      {
                        <button type="submit" asp-controller="Order" asp-action="ShipOrder" onclick="return validateInput()"
                          class="btn btn-primary form-control my-1">Ship Order</button>
                      }
                      @if (Model.OrderHeader.OrderStatus != StaticDetails.StatusRefunded && Model.OrderHeader.OrderStatus
                     !=
                     StaticDetails.StatusCancelled && Model.OrderHeader.OrderStatus != StaticDetails.StatusShipped)
                      {
                        <button type="submit" asp-area="Admin" asp-controller="Order" asp-action="CancelOrder"
                          class="btn btn-danger form-control my-1">Cancel Order</button>
                      }
                    }
                    @if (Model.OrderHeader.PaymentType == StaticDetails.PaymentTypeTransfer &&
                    Model.OrderHeader.PaymentStatus
                    == StaticDetails.PaymentStatusPending && isUserOrder)
                    {
                      <button type="submit" asp-area="Admin" asp-controller="Order" asp-action="PayNow"
                        class="btn btn-success form-control my-1">Pay Now</button>
                    }
                  </div>

                </div>
              </div>
            </div>

            <div class="card-footer ">
              <div class="row my-4 px-4 bg-transparent justify-content-end">
                <div class="col-sm-12 col-lg-4 col-md-6">
                </div>
              </div>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</section>
@section Scripts{
  <partial name="_ValidationScriptsPartial.cshtml" />
  <script src="~/js/orderDetail.js"></script>
}