@section HeadArea{
  <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
}
@{
  ViewData["Title"] = "Manage Order";
  var status = Context.Request.Query["status"];
  var pending = "text-dark";
  var inProcess = "text-dark";
  var completed = "text-dark";
  var approved = "text-dark";
  var all = "text-dark";
  switch (status)
  {
    case "pending":
      pending = "active text-white bg-success rounded-2";
      break;
    case "inprocess":
      inProcess = "active text-white bg-success rounded-2";
      break;
    case "completed":
      completed = "active text-white bg-success rounded-2";
      break;
    case "approved":
      approved = "active text-white bg-success rounded-2";
      break;
    default:
      all = "active text-white bg-success border-0 bg-success rounded-2";
      break;
  }
}
<section class="bg-light d-flex justify-content-center">
  <div class="container-lg pb-5 p-3">
    <h1 class="text-success">@ViewData["Title"]</h1>
    <hr />

    <div class="row justify-content-center">
      <div class="col-12">
        <div class="row text-end mb-3">

          <div class="col-12">
            <ul class="list-inline shop-top-menu">
              <li class="list-inline-item @all">
                <a asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-status="all"
                  class="text-dark text-decoration-none btn btn-outline-success "> All </a>
              </li>
              <li class="list-inline-item @approved">
                <a asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-status="approved"
                  class="text-dark text-decoration-none btn btn-outline-success "> Approved </a>
              </li>
              <li class="list-inline-item @inProcess">
                <a asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-status="inprocess"
                  class="text-dark text-decoration-none btn btn-outline-success "> In Process </a>
              </li>
              <li class="list-inline-item @pending">
                <a asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-status="pending"
                  class="text-dark text-decoration-none btn btn-outline-success "> Payment Pending </a>
              </li>
              <li class="list-inline-item @completed">
                <a asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-status="completed"
                  class="text-dark text-decoration-none btn btn-outline-success "> Completed </a>
              </li>
            </ul>
          </div>

        </div>
        <table id="orderData" class="table table-hover">
          <thead>
            <tr class="bg-dark text-light border-secondary">
              <th>ID</th>
              <th>Name</th>
              <th>Phone Number</th>
              <th>Email</th>
              <th>Order Status</th>
              <th>Payment Status</th>
              <th>Carrier</th>
              <th>Order Total</th>
              <th></th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</section>
@section Scripts{
  <script src="~/js/order.js"></script>
  <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
}