@using YerbaMateStore.Models.Utilities
@using Microsoft.Extensions.Options
@inject IOptions<YerbaMateStore.Models.Utilities.StripeSettings> Stripe
@model YerbaMateStore.Models.ViewModels.ShoppingCartViewModel
@{
  ViewData["Title"] = "Order Summary";
}

<section class="d-flex justify-content-center bg-light">
  <div class="container-lg pb-5 p-3">
    <div class="row justify-content-center">
      <div class="col-12">

        <form method="post">
          <div class="card">

            <div class="card-header bg-dark text-light">
              <div class="row">
                <div class="col-6  pt-2">
                  <i class="bi bi-basket2-fill "></i> &nbsp;
                  @ViewData["Title"]
                </div>
                <div class="col-6 text-end">
                  <a class="btn btn-outline-info btn-sm" asp-area="Customer" asp-controller="Cart"
                    asp-action="Index">Back to cart</a>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="container rounded">
                <div class="row">

                  <div class="col-12 col-lg-6 order-1 order-md-0">

                    <div class="row">
                      <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-dark">Shipping Details:</span>
                      </h4>
                    </div>

                    <input asp-for="@Model.OrderHeader.ApplicationUserId" value="0" hidden />

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.Name" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.Name" class="form-control rounded-0">
                        <span asp-validation-for="@Model.OrderHeader.Name" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.PhoneNumber" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.PhoneNumber" class="form-control rounded-0">
                        <span asp-validation-for="@Model.OrderHeader.PhoneNumber" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.Country" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.Country" class="form-control rounded-0">
                        <span asp-validation-for="@Model.OrderHeader.Country" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.City" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.City" class="form-control rounded-0">
                        <span asp-validation-for="@Model.OrderHeader.City" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.State" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.State" class="form-control rounded-0">
                        <span asp-validation-for="@Model.OrderHeader.State" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.StreetAddress" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.StreetAddress" class="form-control rounded-0">
                        <span asp-validation-for="@Model.OrderHeader.StreetAddress" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <label asp-for="@Model.OrderHeader.PostalCode" class="col-sm-3 col-form-label"></label>
                      <div class="col-sm-9">
                        <input asp-for="@Model.OrderHeader.PostalCode" class="form-control rounded-0">
                        <span asp-validation-for="@Model.OrderHeader.PostalCode" class="text-danger"></span>
                      </div>
                    </div>

                    <hr>
                    <div class="row">
                      <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-dark">Delivery method:</span>
                      </h4>
                    </div>

                    <div class="mb-2 row justify-content-center">
                      <div class="col-12">
                        @foreach (var method in Model.DeliveryMethodList)
                        {
                          <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="@Model.OrderHeader.DeliveryMethodId"
                              id="@method.Id" value="@method.Id"
                              onclick="AddDeliveryCostToOrderTotal(@method.Cost,@Model.OrderHeader.OrderTotal)">
                            <label class="form-check-label fw-bolder" for="@method.Id">
                              @method.Carrier, @method.PaymentMethod.Name.ToLower() (cost:
                              @method.Cost.ToString("C",StaticDetails.Culture))
                            </label>

                            <small>delivery: @method.DeliveryTime</small>
                          </div>
                        }
                        <span asp-validation-for="@Model.OrderHeader.DeliveryMethodId" class="text-danger"></span>
                      </div>
                    </div>

                  </div>

                  <div class="col-12 col-lg-6">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                      <span class="text-dark">Order Summary:</span>
                    </h4>
                    <ul class="list-group mb-3">
                      @foreach (var cart in Model.YerbaMateCartList)
                      {
                        <li class="list-group-item d-flex justify-content-between">
                          <div>
                            <a asp-area="Customer" asp-controller="YerbaMate" asp-action="Details"
                              asp-route-productId="@cart.ProductId" class="my-0 h6 text-dark fw-bolder">
                              @cart.Product.Brand @cart.Product.Name @cart.Product.Weight</a>
                              <br>
                            <small class="text-muted  fw-bolder">Quantity: @cart.Quantity</small>
                          </div>
                          <span class="text-muted fw-bolder">@((cart.Quantity *
                          cart.Price).ToString("C", StaticDetails.Culture)) </span>
                        </li>
                      }
                      @foreach (var cart in Model.BombillaCartList)
                      {
                        <li class="list-group-item d-flex justify-content-between">
                          <div>
                            <a asp-area="Customer" asp-controller="YerbaMate" asp-action="Details"
                              asp-route-productId="@cart.ProductId" class="my-0 h6 text-dark fw-bolder">
                              @cart.Product.Name @cart.Product.Length</a>
                              <br>
                            <small class="text-muted fw-bolder">Quantity: @cart.Quantity</small>
                          </div>
                          <span class="text-muted fw-bolder">@((cart.Quantity *
                          cart.Price).ToString("C", StaticDetails.Culture)) </span>
                        </li>
                      }
                      @foreach (var cart in Model.CupCartList)
                      {
                        <li class="list-group-item d-flex justify-content-between">
                          <div>
                            <a asp-area="Customer" asp-controller="YerbaMate" asp-action="Details"
                              asp-route-productId="@cart.ProductId" class="my-0 h6 text-dark fw-bolder">
                              @cart.Product.Name @cart.Product.Volume</a>
                              <br>
                            <small class="text-muted fw-bolder">Quantity: @cart.Quantity</small>
                          </div>
                          <span class="text-muted fw-bolder">@((cart.Quantity *
                          cart.Price).ToString("C", StaticDetails.Culture)) </span>
                        </li>
                      }
                      <li class="list-group-item d-flex justify-content-between bg-light">
                        <small class="text-dark fw-bold">Order Total (@StaticDetails.Currency)</small>
                        <strong
                          class="text-dark fw-bold">@Model.OrderHeader.OrderTotal.ToString("C",StaticDetails.Culture)</strong>
                      </li>
                      <li class="list-group-item d-flex justify-content-between bg-dark rounded-bottom ">
                        <small class="text-light fw-bold">Order + Delivery (@StaticDetails.Currency)</small>
                        <strong class="text-light fw-bold" id="OrderDeliveryTotal"><strong>
                      </li>
                      <input type="number" asp-for="@Model.OrderHeader.OrderTotal" hidden>
                      <input type="number" asp-for="@Model.OrderHeader.OrderAndDeliveryTotal"
                        id="OrderDeliveryTotalInput" hidden>
                    </ul>
                  </div>

                </div>
              </div>
            </div>

            <div class="card-footer ">
              <div class="row my-2 px-4 bg-transparent justify-content-end">
                <div class="col-sm-12 col-lg-4 col-md-6">
                  <button class="btn btn-success form-control fw-bold">Place Order</button>
                </div>
              </div>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</section>
@section Scripts{
  <partial name="_ValidationScriptsPartial.cshtml" />
  <script src="/js/summary.js"></script>
  <script>
    $(document).ready(function () {
      AddDeliveryCostToOrderTotal(0, @Model.OrderHeader.OrderTotal);
    })
  </script>
}