@using YerbaMateStore.Models.Entities
@model YerbaMateStore.Models.Entities.CupShoppingCart

@section HeadArea{
  <link rel="stylesheet" type="text/css" href="/css/zayTemplateCss/slick.min.css">
  <link rel="stylesheet" type="text/css" href="/css/zayTemplateCss/slick-theme.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
}

<section class="bg-light">
  <div class="container pb-5 mx-0 mx-md-3 mx-lg-5 p-3">
    <div class="row mt-4 d-flex">
      <div class="col-12 col-md-5 order-1 order-md-0">
        <div class="card mb-3">
          <img class="card-img img-fluid mx-auto d-block" src="@Model.Product.Images.First().ImageUrl"
            alt="Card image cap" id="product-detail" style="height: 480px; width: auto;">
        </div>
        <div class="row">
          <div class="product-links-wap">
            <div id="carousel-related-product" class="mb-3">
              @foreach (var image in Model.Product.Images)
              {
                <div class="card mb-4 product-wap rounded-0 m-lg-1">
                  <div class="card rounded-0">
                    <a href="#">
                      <img class="card-img rounded-0 img-fluid mx-auto d-block slickCarouselImg" src="@image.ImageUrl">
                    </a>
                  </div>
                </div>
              }
            </div>
          </div>

        </div>
      </div>

      <!-- col end -->
      <div class="col-12 col-md-7 order-0 order-md-1">
        <div class="card">
          <div class="card-body">
            <h1 class="h2">@Model.Product.Name</h1>
            <p>
              @if (Model.Product.DiscountPrice != null)
              {
                <span class="h4 text-success fw-bold">@(((double)Model.Product.DiscountPrice).ToString("0.00"))
                  zł</span>
                <span class="h5 text-danger"><strike>@Model.Product.Price.ToString("0.00") zł</strike></span>
              }
              else
              {
                <span class="h4 text-success">@Model.Product.Price.ToString("0.00") zł</span>
              }
            </p>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <h6>Volume:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-dark mb-0">@Model.Product.Volume </p>
              </li>
            </ul>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <h6>Description:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-dark mb-0">@Html.Raw(Model.Product.Description)</p>
              </li>
            </ul>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <h6>Material:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-dark mb-0">@Model.Product.Material</p>
              </li>
            </ul>

            <form method="post" asp-area="Customer" asp-controller="Cup" asp-action="Details">
              <input type="hidden" asp-for="@Model.ProductId">
              <input type="hidden" asp-for="@Model.ApplicationUserId" value="0">
              <div class="row">
                <div class="col-auto">
                  <ul class="list-inline pb-3">
                    <li class="list-inline-item text-right">
                      <h6>Quantity</h6>
                      <input type="hidden" asp-for="@Model.Quantity" id="product-quanity">
                    </li>
                    <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                    <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">@Model.Quantity</span>
                    </li>
                    <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                  </ul>
                </div>
              </div>
              <div class="row pb-3 justify-content-center">
                <div class="col-12 mb-3">
                  <button type="submit" class="btn btn-success create-category-btn me-1 w-25">Add To Cart</button>
                  <a asp-controller="Cup" asp-action="Index" class="btn btn-secondary create-category-btn  w-25">
                    Back to list
                  </a>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@section Scripts{
  @* <partial name="_ValidationScriptsPartial.cshtml" /> *@
  <!-- Start Slider Script -->
  <script src="/js/zayTemplateJs/slick.min.js"></script>
  <script src="/js/slickCarousel.js"></script>
}